body {
    background-color: #f0f2f5;
}

.login_formatter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 1.1rem;
    color: #495057;
}

input.form-control {
    font-size: 1rem;
    padding: 10px;
}

button.btn-primary {
    padding: 12px;
    font-size: 1.1rem;
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
    
}

button.btn-primary:hover {
    background-color: #0056b3;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #343a40;
    margin-bottom: 20px;
}

