body {
    background: linear-gradient(to right, #67B26F, #4ca2cd);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.main1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #343a40;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    color: #495057;
}

input.form-control {
    font-size: 1rem;
    padding: 10px;
}

button.btn-primary {
    padding: 10px;
    font-size: 1.1rem;
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

button.btn-primary:hover {
    background-color: #0056b3;
}