body {
    background-color: #a0d3a3;
}

.navbar {
    background-color: #ffffff;
    padding: 10px;
}

.navbar a {
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #d9d9d9;
}

.main1 {
    background-color: #6db06d;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.card-list-container {
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.selectable-item {
    background-color: #e0e0e0;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.selectable-item:hover {
    background-color: #d0d0d0;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    margin: 0;
}